@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --main-bg-color: linear-gradient(134deg, #3879d5 0%, #1a14c1 100%);

  --white-100: white;
  --white-20: rgba(255, 255, 255, 0.2);
  --black: #333;
  --black-10: rgba(0, 0, 0, 0.1);
  --black-40: rgba(0, 0, 0, 0.4);

  --bor-rad-10: 10px;
  --bor-rad-5: 5px;

  --green: #5dbea3;
  --hover-green: #48b294;
  --active-green: #5dbea3;

  --red: #cb450b;
  --hover-red: #de551a;
  --active-red: #cb450b;

  --page-count: #4a4a4a;

  --font-ibm-plex: "IBM Plex Mono", sans-serif;
  --font-poppins: Poppins, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-poppins);
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: var(--main-bg-color) no-repeat;
  display: flex;
  flex-direction: column;
}

/* Header Style */

header {
  padding: 1em 4em;
  background-color: var(--white-20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 2em;
}

header h1 {
  font-size: 4rem;
  font-family: var(--font-ibm-plex);
  color: var(--white-100);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 2px 2px 9px rgba(0, 0, 0, 0.2);
  user-select: none;
}

/* Main Style */
main {
  flex: 1;
  padding: 0 4em;
  margin-bottom: 6em;
}

.main-interaction-container {
  margin-bottom: 2em;
}

.btn {
  font-family: var(--font-poppins);
  font-weight: 600;
  padding: 0.5em 1em;
  color: var(--black);
  cursor: pointer;
  background-color: var(--white-100);
  transition: all 200ms ease;
}

.btn.add-book {
  font-size: 1.6rem;
  border-radius: var(--bor-rad-10);
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn.add-book:hover {
  border: 1px dashed var(--black);
}

.btn.add-book:active {
  border: 1px solid transparent;
}

/* --Book Box Style-- */

.main-book-grid-container {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  gap: 2em;
  /* justify-content: flex-start; */
}

.book {
  background-color: var(--white-100);
  border-radius: var(--bor-rad-10);
  padding: 2em 1.8em;
  /* max-width: 22em; */
  /* max-height: 25em; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.book .book-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #130cb7; /* Need to change color dynamically */
  line-height: 100%;
  border-left: 2px solid #130cb7;
  padding-left: 1rem;
  margin-bottom: 0.5em;
}

.book .book-author {
  font-size: 2rem;
  font-weight: 500;
  border-left: 2px solid var(--black-10);
  padding-left: 1rem;
  margin-bottom: 1.2em;
  color: var(--black);
}

.book .book-page-count {
  font-size: 1.2rem;
  font-weight: 500;
  border-left: 2px solid var(--black-10);
  padding-left: 1rem;
  color: var(--page-count);
  margin-bottom: 7rem;
}

.book .book-buttons-container {
  display: flex;
  gap: 1em;
  align-items: flex-end;
  justify-content: space-between;
}

.btn.book-btn {
  font-size: 1.2rem;
  border-radius: var(--bor-rad-5);
  font-weight: 500;
  border: 1px solid transparent;
  width: 100%;
}

.btn.book-btn.read-toggle {
  background-color: var(--green);
  color: var(--white-100);
  transition: 100ms;
}

/* Interactions */

.btn.book-btn.read-toggle:hover {
  background-color: var(--hover-green);
}

.btn.book-btn.read-toggle:active {
  background-color: var(--active-green);
}

.btn.book-btn.remove-book {
  background-color: transparent;
  border: 1px dashed var(--black-10);
  color: var(--red);
  text-decoration: underline;
  transition: 100ms;
}

.btn.book-btn.remove-book:hover {
  border-color: var(--hover-red);
  color: var(--hover-red);
}

.btn.book-btn.remove-book:active {
  border-color: var(--black-10);
  color: var(--active-red);
}

/* Dynamic Styles */

.btn.book-btn.not-read {
  background-color: var(--red);
}

.btn.book-btn.not-read:hover {
  background-color: var(--hover-red);
}

.btn.book-btn.not-read:active {
  background-color: var(--active-red);
}

/* Footer Style */
footer {
  width: 100%;
  padding: 1em 4em;
  background-color: var(--white-20);
  margin-top: 5em;
}

footer p {
  font-family: var(--font-ibm-plex);
  color: var(--white-100);
  font-weight: 500;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 2px 2px 7px rgba(0, 0, 0, 0.2);
}

a {
  color: var(--white-100);
}

/* PopUp Modal Styles */
#add-book-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-100);
  padding: 2em;
  width: clamp(21rem, 100%, 35rem);
  border-radius: var(--bor-rad-10);
  border: 1px solid transparent;
}

#add-book-modal::backdrop {
  /* backdrop-filter: blur(15px); */
  background-color: rgba(0, 0, 0, 0.5);
}

.add-book-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.8em;
  color: #1d19a0;
}

input,
#isBookRead {
  border-radius: var(--bor-rad-5);
  border: 1px solid transparent;
  font-family: var(--font-poppins);
  font-weight: 500;
  outline: none;
  background-color: #d4e6ff;
}

input:hover,
input:focus {
  border: 1px dashed #2923df;
}

input::placeholder {
  font-weight: 400;
  color: var(--black-40);
}

.radio-btn-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
}

.input-label,
input,
#isBookRead {
  display: block;
  font-size: 1.6rem;
}

.input-label {
  margin-bottom: 0.3em;
}

input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
}

#isBookRead {
  width: 100%;
  padding: 0.5em;
}

.modal-btn-container {
  display: flex;
  gap: 1em;
}

.btn.modal-btn {
  border-radius: var(--bor-rad-5);
  border: 1px solid transparent;
  margin-top: 2em;
  color: var(--white-100);
  background-color: var(--green);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 0.78em 1em;
}

.modal-submit-btn {
  flex-grow: 1;
}

.modal-submit-btn:hover {
  background-color: var(--hover-green);
}

.modal-submit-btn:active {
  background-color: var(--active-green);
}

.btn.modal-close-btn {
  background-color: var(--red);

  flex: 0.4;
}

.btn.modal-close-btn:hover {
  background-color: var(--hover-red);
}

.btn.modal-close-btn:active {
  background-color: var(--active-red);
}

/* Animation on Delete */

.animate {
  animation: slide-left 500ms ease-in-out forwards;
}

@keyframes slide-left {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    transform: translateX(-300px);
    opacity: 0;
  }
}
